<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Cadastrar Aluno</title>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<!-- Font Icons -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
 

</head>

<body>




<h1>Cliente</h1>

<table>

<tr>Id</tr><tr></tr><tr>Nome</tr><tr></tr><tr>CPF</tr>
<td th:text="${cliente.id}"></td>
<td th:text="${cliente.nome}"></td>
<td th:text="${cliente.cpf}"></td>

</table>





</body>

</html>