<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Lista de Aluno</title>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<!-- Font Icons -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
 

</head>

<body>


<div class="container">

	<div class="well">

		<h1>Lista de Cliente</h1>

		<div class="row">

			<div class="col-8">

				

				<table  class="table">
				    <thead>
				    <tr>
				    	<th>ID</th>
				    	<th>Nome</th>
				    	<th>CPF</th>
				    	<th>Numero</th>
				    </tr>
				    </thead>
				    
				    <tbody th:each="clientes : ${lista}">
				    <tr>
				    
				    <td  th:text="${clientes.id}"></td>
				    <td th:text="${clientes.nome}"></td>
				    <td th:text="${clientes.cpf}"></td>
				    <td th:text="${clientes.telefone.numero}"></td>
				    
				    <td th:button type="submit" class="btn btn-info">Editar</button></td>
					<td th:button type="submit" class="btn btn-danger">Editar</button></td>
					</tr>
					</tbody>
				</table>
					
			</div>

		</div>

			<a href="/home/index.html" th:href="@{http://localhost:8080/home}"><button
					class="btn btn-primary">Home</button></a>
		</div>

</div>







</body>

</html>