<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Estúdio Pilates :: Bruna Andrade</title>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<!-- Font Icons -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
 

</head>

<body>

<p>Please select an option</p>
<ol>
  <li><a href="product/list.html" th:href="@{/aluno/cadastrarAluno}">Cadastrar Aluno</a></li>
  <li><a href="order/list.html" th:href="@{/aluno/listarAluno}">Listar Aluno</a></li>
  <li><a href="subscribe.html" th:href="@{/profissional/cadastrarProfissional}">Cadastrar Profissional</a></li>
  <li><a href="userprofile.html" th:href="@{/profissional/listarProfissional}">Listar Profissionais</a></li>
  <li><a href="userprofile.html" th:href="@{/servico/listarServico}">Listar Servicos</a></li>
   	


</ol>

</body>

</html>