<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<title>Estúdio Pilates :: Bruna Andrade</title>

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<!-- Font Icons -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
 

</head>

<body>


<h1>Pagina index</h1>


</body>

</html>